<%- include('partials/header'); -%>

<h1>About Us</h1>
<p>
	Welcome to BlogBug, a platform for bloggers to share their stories and
	connect with others. Our name is inspired by our founder's experiences in
	web development, where they often encountered bugs in the code and had to
	work hard to fix them.<br />
	<br />BlogBug is a platform where individuals can express themselves through
	the written word and connect with a community of like-minded individuals.At
	BlogBug, we believe that everyone has a story to tell and a unique
	perspective to share.
	<br />
	<br />Thank you for visiting BlogBug, and we look forward to reading your
	blogs and learning from your experiences. Let's connect, share, and grow
	together
</p>

<%- include('partials/footer'); -%>
