<%- include('partials/header'); -%>

<h1>Contact Us</h1>
<p>
	We love hearing from our readers! If you have any questions, comments, or
	just want to say hello, please don't hesitate to get in touch. You can reach
	us by filling out the contact form below or by sending us an email at
	connect@blogbug.com . We promise to read and respond to every message we
	receive. We value your feedback and suggestions, so don't be shy! 
        <br><br>
        Let us know what you think of our content, share your own stories and experiences,
	and leave your email ID here. We believe that our community is what makes our website so
	special, and we're always excited to hear from new friends. Thank you for
	taking the time to visit our website, and we look forward to connecting with
	you soon! 
        <br>
        <br>
        Warmly, <br>
        Team BlogBug
</p>

<br />
<form action="/contact" method="post">
	<div class="form-floating">
		<input
			type="email"
			name="email"
			class="form-control bottom"
			id="floatingInput"
			placeholder="Email"
		/>
	</div>
	<br />
	<button type="submit" class="btn btn-primary btn-sm">Send</button>
</form>

<br />

<%- include('partials/footer'); -%>
