<%- include('partials/header'); -%>

 <h1 class="display-4">Awesome!</h1>
    <p class="lead">You have been successfully signed up to BlogBug!!  :D</p>
    <br>
    

<%- include('partials/footer'); -%>